<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Interpolation</title>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <h1> String Interpolation </h1>
  <div ng-app="Myapp">
    <div ng-controller="Mycontroller">
      <h3>{{name}} ?? </h3>      
      <div>
        <button ng-click="feedMe()"> Feed Bunny </button>
        cost:{{bunCost|currency:"&&"}}
        <hr>
        <button ng-click="noFeedMe()"> No Feed Bunny</button>
        <br>
        <img ng-src="{{needFood}}.jpg">
        <img ng-src="{{noNeedFood}}.jpg">
      </div>
      <h3> You have message {{Yahoomsg();}}</h3>
      <h4>{{sayMessage();}}</h4>
      <h4>{{sayLoveMessage()}}</h4>

    </div>
    </div>
</body>
</html>