<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="HelloApp">

<head>
  <meta charset="utf-8">
  <title>Simple Angular Js</title>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</head>

<body>
  <h1> NG repeat </h1>
  <div ng-controller="HelloController">
    <h3>Shopping list</h3>
    <ul>
      <li ng-repeat="item in shoppinglist1">{{item}}</li>
    </ul>
    <br>
    <h3>Shopping list with quntity</h3>
    <h4> You want add item into list  </h4>
    Item <input type="text" ng-model="newItemName">
    Quntities <input type="text" ng-model="newItemQunitity">
    <button ng-click="addList()">Add to List</button>
    <ul>
      <li ng-repeat="item in listObj">{{$index + 1}} {{item.name}} And Quntities are {{item.quntity}}</li>
    </ul>
  </div>
</body>
</html>